.flex {
  display: flex; 
  flex: auto;
}
.contact--picture {  
  align-items: center;
  border: 1.5pt solid #bfbfbf;
  flex-direction: column;
  height: 330px;
  justify-content: center;
  overflow: hidden;
  position: relative;    
  width: 100%;  
}
.contact--picture-background {  
  background-image: url(https://via.placeholder.com/400x300.png);
  background-repeat: no-repeat;
  background-size: cover;  
  filter: blur(6px);  
  height: 330px;
  position: absolute;  
  left: 0;
  top: 0;
  width: 100%;
}
.contact--picture-thumbnail {
  border: 2px solid #fff;  
  border-radius: 50%;
  filter: blur(0);
  height: 165px;
  width: 160px;  
}
.contact--name,
.contact--group
 {
  color: #ffffff;
  z-index: 100;
}
